$grid-width-primary:      100%;
$grid-width-secondary:    1200px;
$button-color:          #fd4f32;
$color-primary:         #eeeeee;
$color-text-primary:    #929292;
$color-text-secondary:  #a2a2a2;
$font-primary:          'Open Sans', sans-serif;
$font-secondary:        'Montserrat', sans-serif;  